In [17]:
import numpy as np
import pandas as pd

lit = ["A","B","C","D"]
s = pd.Series(lit)
print(s)

0    A
1    B
2    C
3    D
dtype: object

In [32]:
ls = pd.DataFrame([lit,lit,lit,lit],None,("apple", "banana","orange","Mango"))
ls.head()

  apple banana orange Mango
0     A      B      C     D
1     A      B      C     D
2     A      B      C     D
3     A      B      C     D

In [31]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45,]
}
dataF = pd.DataFrame(data)
dataF.head()

   calories  duration
0       420        50
1       380        40
2       390        45

In [41]:
arr = [0,1,2,3]
for x in range(len(arr)):
    arr[x] += 1
for x in arr:
    print(x)

1
2
3
4

In [44]:
for x in range(s.size):
    s[x] += "10"
for x in s:
    print(x)

A10
B10
C10
D10